@font-face {
    font-family: Bebas;
    src: url(BebasNeue-Regular.ttf);
}
@font-face {
    font-family: Inter;
    src: url(Inter-VariableFont_opsz\,wght.ttf);
}

:root {
    --bg: #f5f5f5;
    --primary: #667eea;
    --secondary: #764ba2;
    --accent: #10b981;
    --font: 'Bebas';
}

body {
    font-family: Bebas;
    
    background: linear-gradient(135deg, var(--primary), var(--secondary));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
}

.app {
    background: white;
    width: 360px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.top-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

select {
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

#progressContainer {
    background: #eee;
    border-radius: 10px;
    flex: 1;
    margin-left: 10px;
    height: 12px;
    overflow: hidden;
}

#progressBar {
    height: 100%;
    width: 0%;
    background: var(--accent);
    transition: width 0.3s ease;
    border-radius: 10px;
}

#progressText {
    margin-left: 10px;
    font-weight: bold;
}

.input {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
}

input {
    letter-spacing: 2px;
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-weight: bold;
    font-family: var(--font);
}

button {
    padding: 10px 14px;
    border: none;
    border-radius: 8px;
    background: var(--primary);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #5a6de0;
}

.section {
    margin-bottom: 15px;
    letter-spacing: 3px;
}

.section h3 {
    margin-bottom: 5px;
}

.taskList {
    min-height: 20px;
}

.task {
    background: #f3f4f6;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: grab;
    animation: addTask 0.3s ease;
}

.task.completed {
    background: #d1fae5;
    text-decoration: line-through;
    opacity: 0.7;
    animation: completeTask 0.3s ease;
}

.task span {
    flex: 1;
    font-family: var(--font);
    font-weight: bold;
    letter-spacing: 2px;
}

.task button {
    background: var(--accent);
    font-size: 14px;
    padding: 5px 8px;
    border-radius: 6px;
}

#congratsMsg {
    display: none;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    color: var(--accent);
    font-size: 16px;
}

.task:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease;
}

@keyframes addTask {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes completeTask {
    from { transform: scale(1); }
    to { transform: scale(0.95); opacity: 0.5; }
}
